/**Basic Style */
._3iKfS, ._2Yxlw, ._1Ql24 {
  height: 100vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

._3iKfS ._12Z6z, ._2Yxlw ._12Z6z, ._1Ql24 ._12Z6z {
  text-align: center;
  font-weight: 600;
  height: 100%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/** End*/
._3iKfS {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/1cbe7c7ed57dab519b55be87ee2b5388.png) no-repeat center center;
  background-size: cover;
}

._3iKfS h1 {
  line-height: 1;
  font-size: 240px;
}

._3iKfS h2 {
  line-height: 1;
  font-size: 36px;
}

._3iKfS h3 {
  line-height: 1;
  font-size: 24px;
}

._2Yxlw {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/8a78c0cb09a16f7a6a549f8d389b0700.png) no-repeat center center;
  background-size: cover;
  padding: 5vh 0;
}

._2Yxlw ._12Z6z {
  padding: 5vh 0;
}

._2Yxlw ._12Z6z h1 {
  line-height: 1;
  font-size: 120px;
}

._2Yxlw ._12Z6z h2 {
  line-height: 1;
  font-size: 30px;
}

._2Yxlw ._12Z6z h3 {
  line-height: 1;
  font-size: 20px;
  padding: 0 5vw;
}

._1Ql24 {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/1cbe7c7ed57dab519b55be87ee2b5388.png) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  ._1Ql24 {
    background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/8a78c0cb09a16f7a6a549f8d389b0700.png) no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  ._1Ql24 ._12Z6z {
    padding: 5vh 0;
  }
}

._1Ql24 ._12Z6z h1 {
  line-height: 1;
  font-size: 240px;
}

@media screen and (max-width: 900px) {
  ._1Ql24 ._12Z6z h1 {
    font-size: 120px;
  }
}

._1Ql24 ._12Z6z h2 {
  line-height: 1;
  font-size: 36px;
}

@media screen and (max-width: 900px) {
  ._1Ql24 ._12Z6z h2 {
    font-size: 30px;
  }
}

._1Ql24 ._12Z6z h3 {
  line-height: 1;
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  ._1Ql24 ._12Z6z h3 {
    font-size: 20px;
    padding: 0 5vw;
  }
}
._25fsn, ._dM29U, ._2cJGE {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

._25fsn *, ._dM29U *, ._2cJGE * {
  height: 100%;
}

._1N6iG, ._10dl7, ._b_Syt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 7.5px;
  color: #000;
}

._1N6iG ._1KVBN, ._10dl7 ._1KVBN, ._b_Syt ._1KVBN {
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  width: 100%;
}

._1N6iG ._35NMW, ._10dl7 ._35NMW, ._b_Syt ._35NMW {
  background-size: 75% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  width: 100%;
}

._1N6iG ._3CRCs, ._10dl7 ._3CRCs, ._b_Syt ._3CRCs {
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  width: 100%;
}

._1N6iG ._K3JEb, ._10dl7 ._K3JEb, ._b_Syt ._K3JEb {
  background: #fff;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

._1N6iG ._36GUO, ._10dl7 ._36GUO, ._b_Syt ._36GUO {
  -ms-flex: 1;
      flex: 1;
  width: 100%;
  background: #e03f19;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #fff;
  cursor: pointer;
}

._25fsn {
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 630px;
  height: 160px;
  max-width: 1200px;
}

._dM29U {
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 100vw;
}

._2cJGE {
  min-width: 630px;
  min-height: 160px;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  ._2cJGE {
    -ms-flex-direction: column;
        flex-direction: column;
    min-width: 100vw;
  }
}

._1N6iG {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 200px;
  margin: 7.5px;
  height: 100%;
}

._1N6iG div:first-child {
  -ms-flex: 3;
      flex: 3;
}

._10dl7 {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 300px;
  height: 80px;
}

._10dl7 div:first-child {
  -ms-flex: 2;
      flex: 2;
}

._b_Syt {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 200px;
  margin: 7.5px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  ._b_Syt {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 300px;
    height: 80px;
  }
}

._b_Syt div:first-child {
  -ms-flex: 3;
      flex: 3;
}

@media screen and (max-width: 900px) {
  ._b_Syt div:first-child {
    -ms-flex: 2;
        flex: 2;
  }
}
