.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  margin: auto;
  background: #fff;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 2;
}
