._1UwPA {
  width: 544px;
  height: 70px;
  background-color: #fff;
  border: solid 1px #d3d6db;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: "Open Sans", "Arial", "Microsoft Jhenghei", "Hiragino Sans GB", "Pingfang TC", "Lantinghei TC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  letter-spacing: 0.3px;
  color: #333;
}

._1UwPA ._35aIo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Open Sans", "Arial", "Microsoft Jhenghei", "Hiragino Sans GB", "Pingfang TC", "Lantinghei TC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  letter-spacing: 0.3px;
  color: #333;
}

._1UwPA ._28KgD {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

._1UwPA ._28KgD button {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  background-color: #9b9b9b;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

._1UwPA ._28KgD button:hover {
  background-color: #a41d1e;
}

@media only screen and (max-width: 640px), only screen and (max-width: 960px) and (orientation: landscape) {
  ._1UwPA {
    background-color: #f6f6f6;
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    height: 102px;
    font-size: 16px;
    font-weight: normal;
  }
  ._1UwPA ._35aIo {
    font-size: 16px;
    font-weight: normal;
  }
  ._1UwPA ._28KgD button {
    margin: 0 10px;
    width: 80px;
    height: 30px;
    background-color: #9b9b9b;
    font-size: 16px;
    color: #fff;
  }
  ._1UwPA ._28KgD button:hover {
    background-color: #a41d1e;
  }
}
