@import '../../../styles/base';

.nav-board-link-full-width {
  display: block;
  float: left;
  font-size: 17px;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
  background: url(../news-app-download-background.jpg) center no-repeat;
  background-size: cover;
  cursor: pointer;

  &:focus {
    background-color: $gray-e0e0e0;
  }
}
