@import '../../../styles/base';

.nav-board-link {
  display: block;
  float: left;
  font-size: 17px;
  height: 49px;
  line-height: 49px;
  padding-left: 30px;
  position: relative;
  width: 50%;

  &:focus {
    background-color: $gray-e0e0e0;
  }
}

:global .use-large-font :local(.nav-board-link) {
  font-size: 22px;
}

