@import '../../styles/vars';

$title-list-width--s:70px;
$title-list-width--m:80px;

.title-list {
  z-index: 99;
  width: $title-list-width--s;
  position: fixed;
  right: $scroll-position-right--s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(102, 102, 102, 0.94);
  border-radius: 2px 2px 0 2px;

  &--m {
    right: $scroll-position-right--m;
    width: $title-list-width--m;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: -12px;
    border-style: solid;
    border-width: 0 16px 12px 0;
    border-color: transparent rgba(102, 102, 102, 0.94) transparent transparent;
  }

  .title {
    padding: 10px 12px;
    text-align: right;
    font-size: 14px;
    color: $white;
    outline: none;
    display: block;
    position: relative;

    &:not(:last-child) {
      &::after {
        border-bottom: 1px solid $white;
        bottom: -2px;
        content: '';
        height: 1px;
        left: 10px;
        opacity: 0.3;
        position: absolute;
        width: 50px;
      }
    }

    &--m {
      &:not(:last-child) {
        &::after {
          left: 12px;
          width: 56px;
        }
      }
    }
    
    &:hover {
      background-color: $anue-red;
      transition: background-color 0.2s ease;

      &::after {
        opacity: 0;
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    right: $scroll-position-right-narrow--s;

    &--m {
      right: $scroll-position-right-narrow--m;
    }
  }
}

.scroll-to-title {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: $scroll-position-right--s;
  background-color: $gray-666;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &--m {
    right: $scroll-position-right--m;
  }

  @media only screen and (max-width: 1300px) {
    right: $scroll-position-right-narrow--s;

    &--m {
      right: $scroll-position-right-narrow--m;
    }
  }

  .icon-bar {
    position: relative;
    border-radius: 1px;
    top: 0;
    left: 10px;
    width: 16px;
    height: 2px;
    background: $white;
    transition: all 200ms ease-in-out;
    opacity: 1;
  }

  .icon-bar:nth-of-type(1) {
    top: 8px;
  }

  .icon-bar:nth-of-type(3) {
    top: -8px;
  }

  &.active {
    .icon-bar {
      position: relative;
      transition: all 200ms ease-in-out;
    }

    .icon-bar:nth-of-type(1) {
      top: 2px;
      transform: rotate(45deg);
    }

    .icon-bar:nth-of-type(2) {
      opacity: 0;
    }

    .icon-bar:nth-of-type(3) {
      top: -2px;
      transform: rotate(-45deg);
    }
  }
}

