@import '../../styles/vars';

.scroll-to-top {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: $scroll-position-right--s;
  background-color: #666;
  border-radius: 50%;
  transform: rotate(135deg);
  cursor: pointer;
  outline: none;

  &--m {
    right: $scroll-position-right--m;
  }

  @media only screen and (max-width: 1300px) {
    right: $scroll-position-right-narrow--s;

    &--m {
      right: $scroll-position-right-narrow--m;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
  }
}
