@import '../../styles/base';

$panel-width: 245;

%border-bottom {
    border-bottom: 1px solid $gray-c0c0c0;
}

%icon-more-format {
    width: 12px;
    height: 12px;

    @media only screen and (max-width: $screenSizeLg) {
        width: 18px;
        height: 18px;
    }
}

%font-size-14-format {
    line-height: 18px;
    font-size: 14px;

    @media only screen and (max-width: $screenSizeLg) {
        font-size: 18px;
    }
}

%font-size-13-format {
    line-height: 18px;
    font-size: 13px;

    @media only screen and (max-width: $screenSizeLg) {
        line-height: 25px;
        font-size: 18px;
    }
}

.panel__wrapper {
    @extend %anue-colorful-top-bar;
    background: $white;
    display: block;
    font-weight: 300;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    transform: translateX(100vw);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: #{$panel-width+'px'};
    will-change: transform, opacity;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    z-index: 999;

    @media only screen and (min-width: $screenSizeLg) {
        //for @extend %anue-colorful-top-bar;
        &::after {
            background: none;
        }
    }

    @media only screen and (max-width: $screenSizeLg) {
        width: 100%;
    }

    &--active {
        transform: translateX(calc(100vw - #{$panel-width+'px'}));
        pointer-events: auto;
        opacity: 1;

        @media only screen and (max-width: $screenSizeLg) {
            transform: translateX(0);
        }
    }

    header {
        @extend %border-bottom;
        display: none;

        @media only screen and (max-width: $screenSizeLg) {
            position: relative;
            height: 44px;
            display: block;

            .header__title {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 30px;

                .header__icon {
                    width: 17px;
                    height: 17px;
                }

                .header__txt {
                    font-size: 18px;
                    font-weight: normal;
                    color: $gray-1e1e1e;
                    margin: 0 4px;
                }
            }
        }

        .header__close {
            display: block;
            width: 44px;
            height: 44px;
            background: url('../../assets/icon-close.svg') center no-repeat;
            background-size: 16px 16px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.panel__member {
    @extend %font-size-14-format;
    @extend %border-bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 12px;
    height: 68px;
    width: 100%;
    color: $gray-262626;

    @media only screen and (max-width: $screenSizeLg) {
        padding: 16px;
        height: 88px;
    }

    .panel__member__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;

        @media only screen and (max-width: $screenSizeLg) {
            width: 56px;
            height: 56px;
        }
    }

    .panel__member__info {
        width: calc(100% - 96px);
        padding: 0 8px;

        &--login {
            width: calc(100% - 48px);
        }

        div {
            @extend %text-ellipsis ;
        }

        span {
            line-height: 18px;
            font-size: 10px;
            color: $gray-8c8c8c;
        }

        @media only screen and (max-width: $screenSizeLg) {
            width: calc(100% - 140px);
            padding: 0 16px;

            &--login {
                width: calc(100% - 74px);
            }
        }
    }

    .panel__member__login {
        @extend %font-size-14-format;
        padding: 4px 16px;
        border-radius: 2px;
        color: $white;
        background-color: $anue-red;
        cursor: pointer;

        @media only screen and (max-width: $screenSizeLg) {
            padding: 8px 24px;
        }
    }

    .panel__member__more {
        @extend %icon-more-format;
    }
}

.panel__nav {
    @extend %font-size-13-format;
    display: flex;
    flex-direction: column;

    .panel__link {
        @extend %border-bottom;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $gray-1e1e1e;
        padding: 8px 12px 8px 20px;

        @media only screen and (max-width: $screenSizeLg) {
            padding: 10px 15px 10px 30px;
        }

        .panel__link__more {
            @extend %icon-more-format;
        }
    }

    .panel__link--highlight {
        &::before {
            display: block;
            content: " ";
            position: absolute;
            top: 7px;
            left: 15px;
            padding: 4px;
            border-radius: 50%;
            background: $anue-red;

            @media only screen and (max-width: $screenSizeLg) {
                top: 10px;
                left: 26px;
            }
        }
    }

    .nav__line {
        @extend %border-bottom;
        width: 100%;
        height: 8px;
        background-color: $gray-c0c0c0;

        @media only screen and (max-width: $screenSizeLg) {
            height: 10px;
        }
    }


    .nav__logout {
        @extend %border-bottom;
        @extend %font-size-13-format;
        color: $anue-red;
        padding: 8px 0;
        cursor: pointer;

        @media only screen and (max-width: $screenSizeLg) {
            padding: 10px 0;
        }
    }
}