@import '../../styles/base';

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .slider {
    display: flex;
    height: 100%;
    align-items: stretch;

    .news {
      position: relative;
      width: 100%;
      flex-shrink: 0;
      overflow: hidden;
      background-size: cover;
      background-position: center;

      .title {
        position: absolute;
        width: 100%;
        height: 48px;
        bottom: 0;
        padding: 10px 16px;
        color: $white;
        background-color: rgba($black, 0.4);
        font-weight: bold;
        line-height: 28px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  > button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    background-color: rgba(#2AC1D0, 0.3);
    border-radius: 18px;

    &:focus {
      outline: 0;
    }

    &.prev {
      left: 16px;
      transform: translateY(-18px) rotate(45deg);

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 15px;
        display: block;
        width: 10px;
        height: 10px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
      }
    }

    &.next {
      right: 16px;
      transform: translateY(-18px) rotate(-45deg);

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 15px;
        display: block;
        width: 10px;
        height: 10px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
      }
    }
  }

  .dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 44px;

    button.dot {
      cursor: pointer;
      width: 8px;
      height: 8px;
      border-radius: 6px;
      background: white;
      margin: 16px 4px;

      &:focus {
        outline: 0;
      }

      &.active {
        background: #2AC1D0;
      }
    }
  }
}
