@import '../../styles/base';

/**Basic Style */
%notfoundBasicSection {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

%notfoundBasicDiv {
  text-align: center;
  font-weight: 600;
  height: 100%;
  color: $gray-444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/** End*/

.notfound-desktop-section {
  @extend %notfoundBasicSection;
  background: url('./assets/404_background_DT.png') no-repeat center center;
  background-size: cover;

  .notfound {
    @extend %notfoundBasicDiv;
  }

  h1 {
    line-height: 1;
    font-size: 240px;
  }

  h2 {
    line-height: 1;
    font-size: 36px;
  }

  h3 {
    line-height: 1;
    font-size: 24px;
  }
}

.notfound-mobile-section {
  @extend %notfoundBasicSection;
  background: url('./assets/404_background_M.png') no-repeat center center;
  background-size: cover;
  padding: 5vh 0;

  .notfound {
    @extend %notfoundBasicDiv;
    padding: 5vh 0;

    h1 {
      line-height: 1;
      font-size: 120px;
    }

    h2 {
      line-height: 1;
      font-size: 30px;
    }

    h3 {
      line-height: 1;
      font-size: 20px;
      padding: 0 5vw;
    }
  }
}

.notfound-section {
  background: url('./assets/404_background_DT.png') no-repeat center;
  @extend %notfoundBasicSection;
  background-size: cover;

  @include mobile {
    background: url('./assets/404_background_M.png') no-repeat center;
    background-size: cover;
  }

  .notfound {
    @extend %notfoundBasicDiv;

    @include mobile {
      padding: 5vh 0;
    }

    h1 {
      line-height: 1;
      font-size: 240px;

      @include mobile {
        font-size: 120px;
      }
    }

    h2 {
      line-height: 1;
      font-size: 36px;

      @include mobile {
        font-size: 30px;
      }
    }

    h3 {
      line-height: 1;
      font-size: 24px;

      @include mobile {
        font-size: 20px;
        padding: 0 5vw;
      }
    }
  }
}
