@import '../../styles/base';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: $black-a04;
  animation: fadeIn 0.2s linear forwards;
}

.container {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;

  .close-handle {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 13px;
    height: 13px;
    background: url('./icon-modal-close.svg') center no-repeat;
    background-size: 13px 13px;
    cursor: pointer;
    z-index: 999;
  }
}
