#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}
._3U6O0 {
  z-index: 99;
  width: 70px;
  position: fixed;
  right: calc((100vw - 1200px) / 2 - 65px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(102, 102, 102, 0.94);
  border-radius: 2px 2px 0 2px;
}

._211cM {
  right: calc((100vw - 1200px) / 2 - 75px);
  width: 80px;
}

._3U6O0::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: -12px;
  border-style: solid;
  border-width: 0 16px 12px 0;
  border-color: transparent rgba(102, 102, 102, 0.94) transparent transparent;
}

._3U6O0 ._2Jy0n {
  padding: 10px 12px;
  text-align: right;
  font-size: 14px;
  color: #fff;
  outline: none;
  display: block;
  position: relative;
}

._3U6O0 ._2Jy0n:not(:last-child)::after {
  border-bottom: 1px solid #fff;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 10px;
  opacity: 0.3;
  position: absolute;
  width: 50px;
}

._3U6O0 ._2mvAQ:not(:last-child)::after {
  left: 12px;
  width: 56px;
}

._3U6O0 ._2Jy0n:hover {
  background-color: #e03f19;
  transition: background-color 0.2s ease;
}

._3U6O0 ._2Jy0n:hover::after {
  opacity: 0;
}

@media only screen and (max-width: 1300px) {
  ._3U6O0 {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._211cM {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._QaWlp {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: calc((100vw - 1200px) / 2 - 65px);
  background-color: #666;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

._1GNz9 {
  right: calc((100vw - 1200px) / 2 - 75px);
}

@media only screen and (max-width: 1300px) {
  ._QaWlp {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._1GNz9 {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._QaWlp ._yHZvZ {
  position: relative;
  border-radius: 1px;
  top: 0;
  left: 10px;
  width: 16px;
  height: 2px;
  background: #fff;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

._QaWlp ._yHZvZ:nth-of-type(1) {
  top: 8px;
}

._QaWlp ._yHZvZ:nth-of-type(3) {
  top: -8px;
}

._QaWlp._1isZc ._yHZvZ {
  position: relative;
  transition: all 200ms ease-in-out;
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(1) {
  top: 2px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(2) {
  opacity: 0;
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(3) {
  top: -2px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
