@import './vars';

$breakpoints: (
  desktop: 900px,
);

@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}
