$font-family: 'Open Sans', 'Arial', 'Microsoft Jhenghei', 'Hiragino Sans GB', 'Pingfang TC', 'Lantinghei TC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;

// layout
$wrapper-width: 1200px;
$screenSizeSm: 321px;
$screenSizeMd: 768px;
$screenSizeLg: 1024px;
$screenSizeXl: 1200px;

//font
$fontSizeXs: 12px;
$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeLg: 18px;
$fontSizeXl: 24px;

// colors
$black-a04: rgba(0, 0, 0, 0.4);
$black: #000;
$red-8d1b1e: #8d1b1e;
$red-e03f19: #e03f19;
$red: #a41d1e;
$flat-red: #e95e6f;
$white: #fff;
$anue-blue: #54b5c6;
$anue-red: $red-e03f19;
$anue-yellow: #ffb43e;

// gray-s
$gray-333: #333;
$gray-444: #444;
$gray-666: #666;
$gray-686868: #686868;
$gray-969696: #969696;
$gray-ccc: #ccc;
$gray-ccc-a07: rgba($gray-ccc, 0.7);
$gray-d8d8d8: #d8d8d8;
$gray-edeef1: #edeef1;
$gray-f6f6f6: #f6f6f6;
$gray-f6fdff: #f6fdff;
$gray-f6f7f8: #f6f7f8;
$gray-d3d6db: #d3d6db;
$gray-9b9b9b: #9b9b9b;
$gray-eeeeee: #eeeeee;
$gray-1e1e1e: #1e1e1e;
$gray-545454: #545454;
$gray-c0c0c0: #c0c0c0;
$gray-e0e0e0: #e0e0e0;
$gray-8c8c8c: #8c8c8c;
$gray-262626: #262626;
$blacka67: rgba(0, 0, 0, 0.67);

$border-light-gray: rgba(152, 152, 152, 0.2);
$border-gray: rgba($gray-ccc, 0.7);

$time-gray: #828282;

$scroll-position-right--s: calc((100vw - 1200px) / 2 - 65px);
$scroll-position-right--m: calc((100vw - 1200px) / 2 - 75px);
$scroll-position-right-narrow--s: calc((100vw - 990px) / 2 - 65px);
$scroll-position-right-narrow--m: calc((100vw - 990px) / 2 - 75px);