@import '../styles/_base.scss';

.fundsyes-old-driver-footer {
  @extend %reset;

  background-color: #f0f0f0;

  ul.disclaimer {
    max-width: 824px;
    margin: 0 auto;
    padding: 16px 20px;

    @media only screen and (min-width: $screenSizeLg) {
      padding: 24px 0;
    }

    li {
      margin-left: 15px;
      list-style-type: disc;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: #545454;

      & + li {
        margin-top: 16px;
      }
    }
  }
}
