#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}
._2F-js {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: calc((100vw - 1200px) / 2 - 65px);
  background-color: #666;
  border-radius: 50%;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  cursor: pointer;
  outline: none;
}

._1PaLf {
  right: calc((100vw - 1200px) / 2 - 75px);
}

@media only screen and (max-width: 1300px) {
  ._2F-js {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._1PaLf {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._2F-js::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}
