.content {
  width: 100%;
  max-width: 1200px;
  height: 1500px;
  margin: 50px auto;
}

.mobileWrapper {
  width: 100%;
  max-width: 480px;
  position: relative;
}

.mobileHeader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  margin: auto;
  background: #fff;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 2;
}

.mobileLinks {
  display: flex;
  position: absolute;
  top: 0;
  right: 80px;
  flex-wrap: wrap;
  width: calc(100% - 170px);
  justify-content: flex-end;
  height: 44px;
  overflow: hidden;
  font-size: 18px;

  a {
    line-height: 44px;
    margin: 0 8px;
  }
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 18px;
    height: 18px;
  }
}

.accountWrapper {
  position: absolute;
  right: 44px;
  top: 0;
  width: 20px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}