@import '../../styles/base.scss';

.account-menu__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 26px;
  line-height: 26px;
  cursor: pointer;

  & > .account-menu__popup {
    display: none;
  }

  &:hover {
    & > .account-menu__popup {
      display: flex;
    }
  }

  &.withHighlight {
    &::before {
      display: block;
      content: " ";
      position: absolute;
      top: 1px;
      left: 12px;
      padding: 4px;
      border-radius: 50%;
      background: $anue-red;
    }
  }
}

.account-menu__popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  overflow: visible;
  z-index: 2;
  padding: 4px;
  top: 100%;


  &-left {
    left: 0;
    &::before {
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 16px;
      width: 6px;
      height: 6px;
      border-color: transparent;
      border-width: 6px;
      border-style: solid;
      border-bottom-color: white;
      border-left-color: white;
      box-shadow: -2px 2px 3px rgba(0,0,0,0.1);
      transform: rotate(135deg);
      content: '';
    }
  }

  &-right {
    right: -16px;
    &::before {
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 16px;
      width: 6px;
      height: 6px;
      border-color: transparent;
      border-width: 6px;
      border-style: solid;
      border-bottom-color: white;
      border-left-color: white;
      box-shadow: -2px 2px 3px rgba(0,0,0,0.1);
      transform: rotate(135deg);
      content: '';
    }
  }

  & > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & > a {
      min-width: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px 16px;
      background-color: white;
      color: #545454;
      &:hover {
        cursor: pointer;
        color: $red-e03f19;
      }
    }
  }

}

.account-menu__avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  &.withAvatar {
    border: 1px solid #383838;
  }
}

.account-menu__name {
  border-right: 1px solid #383838;
  color: #383838;
  font-size: 13px;
  padding: 0 10px 0 4px;
  height: 14px;
  line-height: 14px;
}
