@import '../../styles/base';

.cnyes-survey {
  width: 544px;
  height: 70px;
  background-color: $white;
  border: solid 1px $gray-d3d6db;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  letter-spacing: 0.3px;
  color: $gray-333;

  .cnyes-survey-question {
    display: flex;
    align-items: center;
    font-family: $font-family;
    letter-spacing: 0.3px;
    color: $gray-333;
  }

  .cnyes-survey-options {
    display: flex;
    align-items: center;

    button {
      margin-left: 20px;
      width: 80px;
      height: 30px;
      background-color: $gray-9b9b9b;
      font-family: inherit;
      font-size: 16px;
      color: $white;
      cursor: pointer;

      &:hover {
        background-color: $red;
      }
    }
  }

}

@media only screen and (max-width: 640px), only screen and (max-width: 960px) and (orientation: landscape) {
  .cnyes-survey {
    background-color: $gray-f6f6f6;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    height: 102px;
    font-size: 16px;
    font-weight: normal;

    .cnyes-survey-question {
      font-size: 16px;
      font-weight: normal;
    }
  
    .cnyes-survey-options {
  
      button {
        margin: 0 10px;
        width: 80px;
        height: 30px;
        background-color: $gray-9b9b9b;
        font-size: 16px;
        color: $white;

        &:hover {
          background-color: $red;
        }
      }
    }
  }
}