._1aXfC {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

._1aXfC ._2y-1y {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: stretch;
      align-items: stretch;
}

._1aXfC ._2y-1y ._18UZ3 {
  position: relative;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

._1aXfC ._2y-1y ._18UZ3 ._2Q-1U {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  padding: 10px 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

._1aXfC ._2y-1y ._18UZ3 ._2Q-1U p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._1aXfC > button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  background-color: rgba(42, 193, 208, 0.3);
  border-radius: 18px;
}

._1aXfC > button:focus {
  outline: 0;
}

._1aXfC > button._3P45D {
  left: 16px;
  -ms-transform: translateY(-18px) rotate(45deg);
      transform: translateY(-18px) rotate(45deg);
}

._1aXfC > button._3P45D::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

._1aXfC > button._xZkz6 {
  right: 16px;
  -ms-transform: translateY(-18px) rotate(-45deg);
      transform: translateY(-18px) rotate(-45deg);
}

._1aXfC > button._xZkz6::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

._1aXfC ._1N3xy {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  bottom: 44px;
}

._1aXfC ._1N3xy button._3oX-q {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: white;
  margin: 16px 4px;
}

._1aXfC ._1N3xy button._3oX-q:focus {
  outline: 0;
}

._1aXfC ._1N3xy button._3oX-q._6DAY3 {
  background: #2AC1D0;
}
