._rVz-R {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}

._rVz-R > ._1KDzL {
  display: none;
}

._rVz-R:hover > ._1KDzL {
  display: -ms-flexbox;
  display: flex;
}

._rVz-R._1l3mi::before {
  display: block;
  content: " ";
  position: absolute;
  top: 1px;
  left: 12px;
  padding: 4px;
  border-radius: 50%;
  background: #e03f19;
}

._1KDzL {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: visible;
  z-index: 2;
  padding: 4px;
  top: 100%;
}

._rgpG1 {
  left: 0;
}

._rgpG1::before {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 16px;
  width: 6px;
  height: 6px;
  border-color: transparent;
  border-width: 6px;
  border-style: solid;
  border-bottom-color: white;
  border-left-color: white;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  content: '';
}

._8wJLW {
  right: -16px;
}

._8wJLW::before {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 16px;
  width: 6px;
  height: 6px;
  border-color: transparent;
  border-width: 6px;
  border-style: solid;
  border-bottom-color: white;
  border-left-color: white;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  content: '';
}

._1KDzL > li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

._1KDzL > li > a {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 5px 16px;
  background-color: white;
  color: #545454;
}

._1KDzL > li > a:hover {
  cursor: pointer;
  color: #e03f19;
}

._1dYjT {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

._1dYjT._3T9U5 {
  border: 1px solid #383838;
}

._38hSw {
  border-right: 1px solid #383838;
  color: #383838;
  font-size: 13px;
  padding: 0 10px 0 4px;
  height: 14px;
  line-height: 14px;
}
