@import '../../styles/base';

.wrapper {
  padding: 8px 0;

  .scroller {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;

    span.quote {
      margin-right: 12px;
      display: inline-block;

      a {
        color: $black;
  
        &:hover {
          color: $anue-red;
        }
      }

      span {
        display: inline-block;
        margin-right: 4px;
        font-size: 13px;

        &.name {
          font-weight: bold;
        }
  
        &.change {
          padding: 4px;
          background: rgba($black, 0.1);
        }
      }

      &.positive span {
        &.mark {
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 10px solid #e03f19;
        }

        &.change {
          color: #e03f19;
          background: rgba(224, 63, 25, 0.1);
        }
      }

      &.negative span {
        &.mark {
          vertical-align: -1px;
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 10px solid #208306;
        }

        &.change {
          color: #208306;
          background: rgba(32, 131, 6, 0.1);
        }
      }
    }
  }

  &.inverted {
    background: $black;
    color: $white;

    .scroller span.quote {
      a {
        color: $white;
  
        &:hover {
          color: $anue-red;
        }
      }

      span.change {
        background: rgba($white, 0.2);
      }

      &.positive span.change {
        background: rgba(224, 63, 25, 0.1);
      }

      &.negative span {
        &.change {
          color: #7ed321;
          background: rgba(126, 211, 33, 0.1);
        }
  
        &.mark {
          border-top: 10px solid #7ed321;
        } 
      }
    }
  }
}