._eMX1o {
  padding: 8px 0;
}

._eMX1o ._776v3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

._eMX1o ._776v3 span._1vSIt {
  margin-right: 12px;
  display: inline-block;
}

._eMX1o ._776v3 span._1vSIt a {
  color: #000;
}

._eMX1o ._776v3 span._1vSIt a:hover {
  color: #e03f19;
}

._eMX1o ._776v3 span._1vSIt span {
  display: inline-block;
  margin-right: 4px;
  font-size: 13px;
}

._eMX1o ._776v3 span._1vSIt span._1kWHa {
  font-weight: bold;
}

._eMX1o ._776v3 span._1vSIt span._3O4up {
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
}

._eMX1o ._776v3 span._1vSIt._2_CgW span._1BwVu {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #e03f19;
}

._eMX1o ._776v3 span._1vSIt._2_CgW span._3O4up {
  color: #e03f19;
  background: rgba(224, 63, 25, 0.1);
}

._eMX1o ._776v3 span._1vSIt._1fHsT span._1BwVu {
  vertical-align: -1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #208306;
}

._eMX1o ._776v3 span._1vSIt._1fHsT span._3O4up {
  color: #208306;
  background: rgba(32, 131, 6, 0.1);
}

._eMX1o._jPoch {
  background: #000;
  color: #fff;
}

._eMX1o._jPoch ._776v3 span._1vSIt a {
  color: #fff;
}

._eMX1o._jPoch ._776v3 span._1vSIt a:hover {
  color: #e03f19;
}

._eMX1o._jPoch ._776v3 span._1vSIt span._3O4up {
  background: rgba(255, 255, 255, 0.2);
}

._eMX1o._jPoch ._776v3 span._1vSIt._2_CgW span._3O4up {
  background: rgba(224, 63, 25, 0.1);
}

._eMX1o._jPoch ._776v3 span._1vSIt._1fHsT span._3O4up {
  color: #7ed321;
  background: rgba(126, 211, 33, 0.1);
}

._eMX1o._jPoch ._776v3 span._1vSIt._1fHsT span._1BwVu {
  border-top: 10px solid #7ed321;
}
