@import '../../../styles/base';

$img-size:(
  m: 50%,
  l: 75% 50%,
  xl: 90%
);

%fastLinkContainerBasicStyle {
  display: flex;
  align-items: center;
  height: max-content;
  justify-content: space-between;

  * {
    height: 100%;
  }
}

%fastLinkBlockBasicStyle {
  display: flex;
  align-items: center;
  margin: 7.5px;
  color: #000;

  @each $key,$val in $img-size{
    .link-img-#{$key} {
      background-size: $val;
      background-repeat: no-repeat;
      background-color: #fff;
      background-position: center;
      width: 100%;
    }
  }

  .title {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeXl;
    font-weight: 600;
  }

  .text {
    flex: 1;
    width: 100%;
    background: #e03f19;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeSm;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #fff;
    cursor: pointer;
  }
}

.fast-link-desktop-container {
  @extend %fastLinkContainerBasicStyle;
  flex-direction: row;
  min-width: 630px;
  height: 160px;
  max-width: 1200px;
}

.fast-link-mobile-container {
  @extend %fastLinkContainerBasicStyle;
  flex-direction: column;
  min-width: 100vw;
}

.fast-link-container {
  @extend %fastLinkContainerBasicStyle;
  min-width: 630px;
  min-height: 160px;
  max-width: 1200px;

  @include mobile {
    flex-direction: column;
    min-width: 100vw;
  }
}

.fast-link-desktop-block {
  @extend %fastLinkBlockBasicStyle;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  margin: 7.5px;
  height: 100%;

  div:first-child {
    flex: 3;
  }
}

.fast-link-mobile-block {
  @extend %fastLinkBlockBasicStyle;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 80px;

  div:first-child {
    flex: 2;
  }
}

.fast-link-block {
  @extend %fastLinkBlockBasicStyle;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  margin: 7.5px;
  height: 100%;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 80px;
  }

  div:first-child {
    flex: 3;
    @include mobile {
      flex: 2;
    }
  }
}
