._3Ny_k:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

._27f3x {
  display: block;
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 2;
}

._3Wta4 {
  display: block;
  height: 44px;
  width: 38px;
  display: block;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/90eaa49ba43fb3b6c4a3b1b19d417f26.svg) center no-repeat;
  background-size: 18px 18px;
}

._3KhXq {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  display: block;
  height: 30px;
  left: 44px;
  position: absolute;
  text-indent: -5000px;
  /* hide inner text */
  top: 6px;
  width: 70px;
}

._3_hO3 {
  background-color: #e03f19;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  height: 18px;
  left: 118px;
  line-height: 18px;
  padding: 0 4px;
  position: absolute;
  top: 18px;
}

._3vTaA {
  white-space: nowrap;
  position: absolute;
  right: 50px;
  top: 11px;
}

._3vTaA > a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  opacity: 0.7;
  vertical-align: middle;
  width: 50px;
  text-align: center;
  color: #fff;
  line-height: 18px;
  outline: 0;
}

._3vTaA > a:not(:last-child) {
  margin-right: 10px;
}

._3ZBZ7 {
  position: absolute;
  width: 270px;
  height: 46px;
  background: rgba(42, 54, 70, 0.85);
  color: #fff;
  line-height: 46px;
  font-size: 17px;
  right: 3px;
  top: 43px;
  border-radius: 3px;
  text-align: left;
  padding-left: 18px;
}

._3ZBZ7 ._3XvKH {
  display: block;
  position: absolute;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9b3297bb226cd6cb259d88b21dcc26c6.svg) center no-repeat;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 18px;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

._3ZBZ7 > i {
  display: block;
  width: 276px;
  height: 52px;
  position: absolute;
  z-index: -1;
  left: -3px;
  top: -3px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

._3ZBZ7::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(42, 54, 70, 0.85);
  position: absolute;
  right: 9px;
  top: -6px;
}

._3ZBZ7::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 12px;
  top: -10px;
  z-index: -1;
}

._2mXhz {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/fd88a16d338ce82fa23ff5dc7a7d5c50.svg) center no-repeat;
  background-size: 19px 19px;
}
._3Nksy {
  display: block;
  float: left;
  font-size: 17px;
  height: 49px;
  line-height: 49px;
  padding-left: 30px;
  position: relative;
  width: 50%;
}

._3Nksy:focus {
  background-color: #e0e0e0;
}

.use-large-font ._3Nksy {
  font-size: 22px;
}
._KvlCd {
  display: block;
  float: left;
  font-size: 17px;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/89652a575d82998b64dcd84dae09b702.jpg) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

._KvlCd:focus {
  background-color: #e0e0e0;
}
._wwdaL::after, ._1C1Ae::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

._2EEsr:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

._3RjfV,
._38glh {
  background: #fff;
  display: block;
  font-weight: 300;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  -ms-transform: translateX(-100%);
      transform: translateX(-100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100%;
  will-change: transform, opacity;
  z-index: 10;
}

._3RjfV header,
._38glh header {
  position: relative;
  height: 44px;
}

._3RjfV header nav,
._38glh header nav {
  height: 19px;
  position: absolute;
  left: 30px;
  top: 14px;
}

._3RjfV header nav > a,
._38glh header nav > a {
  display: inline-block;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 1;
}

._3RjfV header nav > a:last-child,
._38glh header nav > a:last-child {
  position: relative;
  margin-left: 15px;
}

._3RjfV header nav > a:last-child::before,
._38glh header nav > a:last-child::before {
  content: '';
  display: block;
  width: 1px;
  height: 12.5px;
  background: #d8d8d8;
  position: absolute;
  left: -15px;
  top: 2px;
}

._3RjfV h1,
._38glh h1 {
  line-height: 1.5;
}

._38glh {
  /* to slide out the CatBoard */
  -ms-transform: translateX(0);
      transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

._wwdaL {
  padding: 10px 0;
}

._wwdaL a {
  color: #1e1e1e;
}

._1C1Ae {
  padding: 0 0 0 30px;
  border-top: 1px solid #c0c0c0;
}

._1C1Ae a {
  color: #1e1e1e;
}

._23siC {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  top: 12px;
  display: inline-block;
  height: 22px;
  left: 30px;
  position: relative;
  text-indent: -5000px;
  /* hide inner text */
  width: 66.8px;
}

._-kDn3 {
  display: block;
  width: 44px;
  height: 44px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9b3297bb226cd6cb259d88b21dcc26c6.svg) center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-board-subtitle {
  font-size: 14px;
  color: #f6fdff;
  line-height: 1.5;
  background: #545454;
  padding-left: 30px;
  margin-bottom: 0;
}
