._2PQkB ._26yuU div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._eMBo3:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

._eMBo3 header, ._2PQkB, ._3f8r8 ._2W1Sq, ._3f8r8 ._3Ck30, ._3f8r8 ._1YrU6 {
  border-bottom: 1px solid #c0c0c0;
}

._2PQkB ._1slSJ, ._3f8r8 ._2W1Sq ._1I8jH {
  width: 12px;
  height: 12px;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB ._1slSJ, ._3f8r8 ._2W1Sq ._1I8jH {
    width: 18px;
    height: 18px;
  }
}

._2PQkB, ._2PQkB ._163df {
  line-height: 18px;
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB, ._2PQkB ._163df {
    font-size: 18px;
  }
}

._3f8r8, ._3f8r8 ._1YrU6 {
  line-height: 18px;
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  ._3f8r8, ._3f8r8 ._1YrU6 {
    line-height: 25px;
    font-size: 18px;
  }
}

._eMBo3 {
  background: #fff;
  display: block;
  font-weight: 300;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  -ms-transform: translateX(100vw);
      transform: translateX(100vw);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 245px;
  will-change: transform, opacity;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 999;
}

@media only screen and (min-width: 1024px) {
  ._eMBo3::after {
    background: none;
  }
}

@media only screen and (max-width: 1024px) {
  ._eMBo3 {
    width: 100%;
  }
}

._3eCHy {
  -ms-transform: translateX(calc(100vw - 245px));
      transform: translateX(calc(100vw - 245px));
  pointer-events: auto;
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  ._3eCHy {
    -ms-transform: translateX(0);
        transform: translateX(0);
  }
}

._eMBo3 header {
  display: none;
}

@media only screen and (max-width: 1024px) {
  ._eMBo3 header {
    position: relative;
    height: 44px;
    display: block;
  }
  ._eMBo3 header ._25UTC {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 30px;
  }
  ._eMBo3 header ._25UTC ._2s4s0 {
    width: 17px;
    height: 17px;
  }
  ._eMBo3 header ._25UTC ._DCjd1 {
    font-size: 18px;
    font-weight: normal;
    color: #1e1e1e;
    margin: 0 4px;
  }
}

._eMBo3 header ._2Na7E {
  display: block;
  width: 44px;
  height: 44px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9b3297bb226cd6cb259d88b21dcc26c6.svg) center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

._2PQkB {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 16px 12px;
  height: 68px;
  width: 100%;
  color: #262626;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB {
    padding: 16px;
    height: 88px;
  }
}

._2PQkB ._2IAxu {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB ._2IAxu {
    width: 56px;
    height: 56px;
  }
}

._2PQkB ._26yuU {
  width: calc(100% - 96px);
  padding: 0 8px;
}

._2PQkB ._3SglQ {
  width: calc(100% - 48px);
}

._2PQkB ._26yuU span {
  line-height: 18px;
  font-size: 10px;
  color: #8c8c8c;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB ._26yuU {
    width: calc(100% - 140px);
    padding: 0 16px;
  }
  ._2PQkB ._3SglQ {
    width: calc(100% - 74px);
  }
}

._2PQkB ._163df {
  padding: 4px 16px;
  border-radius: 2px;
  color: #fff;
  background-color: #e03f19;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  ._2PQkB ._163df {
    padding: 8px 24px;
  }
}

._3f8r8 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

._3f8r8 ._2W1Sq {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  color: #1e1e1e;
  padding: 8px 12px 8px 20px;
}

@media only screen and (max-width: 1024px) {
  ._3f8r8 ._2W1Sq {
    padding: 10px 15px 10px 30px;
  }
}

._3f8r8 ._2tgOR::before {
  display: block;
  content: " ";
  position: absolute;
  top: 7px;
  left: 15px;
  padding: 4px;
  border-radius: 50%;
  background: #e03f19;
}

@media only screen and (max-width: 1024px) {
  ._3f8r8 ._2tgOR::before {
    top: 10px;
    left: 26px;
  }
}

._3f8r8 ._3Ck30 {
  width: 100%;
  height: 8px;
  background-color: #c0c0c0;
}

@media only screen and (max-width: 1024px) {
  ._3f8r8 ._3Ck30 {
    height: 10px;
  }
}

._3f8r8 ._1YrU6 {
  color: #e03f19;
  padding: 8px 0;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  ._3f8r8 ._1YrU6 {
    padding: 10px 0;
  }
}
