._2w2O1 {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 99;
}

._2w2O1 ._9QpxU {
  position: absolute;
  width: 280px;
  background: #fff;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 32px 0 16px;
}

@media screen and (min-width: 1024px) {
  ._2w2O1 ._9QpxU {
    width: 343px;
  }
}

._2w2O1 ._9QpxU ._3kkt2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
}

._2w2O1 ._9QpxU ._3kkt2 ._3HTyz {
  background-color: #54b5c6;
  -ms-flex: 6;
      flex: 6;
}

._2w2O1 ._9QpxU ._3kkt2 ._3pe9W {
  background-color: #e03f19;
  -ms-flex: 3;
      flex: 3;
}

._2w2O1 ._9QpxU ._3kkt2 ._UGg15 {
  background-color: #ffb43e;
  -ms-flex: 1;
      flex: 1;
}

._2w2O1._3j2Gf {
  transition: all 0.4s;
  opacity: 1;
  visibility: visible;
}

._2w2O1._3j2Gf ._9QpxU {
  transition: all 0.4s;
  top: 50%;
}

._2w2O1._Bm67o {
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

._2w2O1._Bm67o ._9QpxU {
  transition: all 0.4s;
  top: 100%;
}

._35I3y {
  margin-bottom: 20px;
}

._2TAVh {
  width: 100%;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #545454;
  margin-bottom: 16px;
}

._2zggk {
  width: 100%;
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #545454;
  margin-bottom: 32px;
}

._VJkJ8 {
  width: 116px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #e03f19;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #e03f19;
  margin-right: 16px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 1024px) {
  ._VJkJ8 {
    width: 145px;
  }
}

._3ezbH {
  width: 116px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #e03f19;
  background-color: #e03f19;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 1024px) {
  ._3ezbH {
    width: 145px;
  }
}
