@import '../../styles/base';

$footer-height: 140px;
$footer-bg-color: #514848;

:export {
  footerHeight: $footer-height;
}

#cnyes-footer-wrapper { // sass-lint:disable-line no-ids
  background-color: $footer-bg-color;

  @media only screen and (min-width: $screenSizeLg) {
    height: $footer-height;
  }

  .main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $footer-bg-color;
    color: $white;
    padding: 23px 0 17px;
    margin: 0 auto;

    @media only screen and (min-width: $screenSizeLg) {
      width: 990px;
      padding: 53px 0 40px;
    }
  }

  .logo {
    position: relative;
    display: block;
    width: 168px;

    a {
      display: block;
      background-size: cover;
      background: url('../../assets/icon-anue-logo-white.svg') center no-repeat;
      height: 43.3px;
      width: 131.4px;
    }

    &::before {
      border-left: 1px solid $white;
      content: '';
      height: 43.3px;
      right: 0;
      bottom: 0;
      position: absolute;
      width: 1px;
    }
 }

  .nav {
    position: relative;
    margin: 0 auto;
    font-size: 15px;
    padding-left: 0;
    line-height: 25px;
    text-align: center;

    @media only screen and (min-width: $screenSizeLg) {
      width: 600px;
      padding-left: 40px;
      line-height: 18px;
      font-size: 13px;
      text-align: left;
    }

    a {
      color: #D8D8D8;
      text-align: left;
      font: inherit;
      padding: 0 9px;
      border-left: 1px solid;

      @media only screen and (min-width: $screenSizeLg) {
        color: $white;
      }

      &:first-child {
        padding-left: 0;
        border: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .socials {
    white-space: nowrap;

    .social-item {
      display: inline-block;
      margin: 0 10px;
      position: relative;
    }

    .title {
      font-size: 12px;
      position: absolute;
      top: -13px;
      width: 61px;
      left: -7px;
      height: 13px;
      line-height: 13px;
      text-align: justify;
      transform: scale(0.75);

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }

    .social-icon {
      background-size: 44px 44px;
      display: inline-block;
      height: 44px;
      margin-top: 3px;
      width: 44px;
      text-indent: -5000px; /* hide inner text */
    }

    .cnyes-media-facebook {
      background: url('../../assets/icon-white-bg-fb.svg') center no-repeat;
    }

    .cnyes-media-line {
      background: url('../../assets/icon-white-line.svg') center no-repeat;
    }

    .cnyes-media-app {
      background: url('../../assets/icon-download-app-qrcode.svg') center no-repeat;
    }
  }

  .copyright-anue {
    font: inherit;
    display: block;
    margin-top: 22px;
    line-height: 12px;
    font-size: 11px;
    text-align: center;

    @media only screen and (min-width: $screenSizeLg) {
      margin-top: 3px;
      line-height: 18px;
      font-size: 13px;
      text-align: left;
    }
  }

  .hidden-mobile {
    @media only screen and (max-width: $screenSizeLg - 1) {
      display: none;
    }
  }

  .hidden-desktop {
    @media only screen and (min-width: $screenSizeLg) {
      display: none;
    }
  }
}
