@import '../../../styles/base';

$header-height: 44px;

.index-header-top-bar {
  @extend %anue-colorful-top-bar;
}

.index-header {
  display: block;
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 2;
}

.index-header-menu {
  display: block;
  height: $header-height;
  width: 38px;
  display: block;
  background: url('../icon-menu.svg') center no-repeat;
  background-size: 18px 18px;
}

.index-header-logo {
  background-size: cover;
  background: url('../../../assets/icon-anue-logo-colorful.svg') center no-repeat;
  display: block;
  height: 30px;
  left: 44px;
  position: absolute;
  text-indent: -5000px; /* hide inner text */
  top: 6px;
  width: 70px;
}

.header-channel-label {
  background-color: $anue-red;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  height: 18px;
  left: 118px;
  line-height: 18px;
  padding: 0 4px;
  position: absolute;
  top: 18px;
}

.index-header-tabs {
  white-space: nowrap;
  position: absolute;
  right: 50px;
  top: 11px;

  > a {
    -webkit-tap-highlight-color: rgba(#FFF, 0.3);
    display: inline-block;
    opacity: 0.7;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    outline: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.index-search-hint {
  position: absolute;
  width: 270px;
  height: 46px;
  background: rgba(#2A3646, 0.85);
  color: #fff;
  line-height: 46px;
  font-size: 17px;
  right: 3px;
  top: 43px;
  border-radius: 3px;
  text-align: left;
  padding-left: 18px;

  .hint-close {
    display: block;
    position: absolute;
    background: url('../../../assets/icon-close.svg') center no-repeat;
    opacity: 0.6;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  > i {
    display: block;
    width: 276px;
    height: 52px;
    position: absolute;
    z-index: -1;
    left: -3px;
    top: -3px;
    background: rgba(#fff, 0.5);
    border-radius: 3px;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(#2A3646, 0.85);
    position: absolute;
    right: 9px;
    top: -6px;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(#fff, 0.5);
    position: absolute;
    right: 12px;
    top: -10px;
    z-index: -1;
  }
}

.index-header-search {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url('../icon-search.svg') center no-repeat;
  background-size: 19px 19px;
}
