#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

#_2SRO2:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF {
  padding-right: 45px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/5d6ac781ac2672ca83a594041dcdd43c.svg) center no-repeat;
  content: '';
  display: block;
  height: 16px;
  right: 10px;
  width: 30px;
}

#_2SRO2 {
  background-color: #fff;
  display: block;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 0 0 #c0c0c0;
}

#_2SRO2 ._1GCgR {
  background-color: #e0e0e0;
  display: block;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

#_2SRO2 ._1Jtol {
  height: 110px;
  margin: 0 auto;
  width: 1200px;
}

#_2SRO2 ._3wxEr {
  font: inherit;
  text-align: left;
}

#_2SRO2 ._3wxEr._3ulCb {
  position: fixed;
  width: 1200px;
  left: 50%;
  -ms-transform: translate(-50%);
      transform: translate(-50%);
  z-index: 51;
}

#_2SRO2 ._3wxEr:not(._GG7q8) {
  display: block;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._37HAC {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/71ebd68b8df9e895a44be18f5b4a10f8.svg) center no-repeat;
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover {
  /* popup menu mouse movement hover UX enhancement */
  /* end of enhancement */
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover::before {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -34px;
  top: 14px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  width: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover + div {
  z-index: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover._1Z5Aq > ._2jyB4,
#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover > ._2jyB4 {
  font-weight: normal;
  background-color: #545454;
  color: #fff;
  opacity: 0.96;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover ._37HAC {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover ._1APmD {
  display: block;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 36px;
  padding: 0 17px;
  position: relative;
  will-change: background-color;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq > ._2jyB4 {
  color: #1e1e1e;
  font-weight: 600;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq:not(:first-child) {
  background-color: #e0e0e0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq ._37HAC {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD {
  background: #333;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  display: none;
  height: 405px;
  left: 0;
  opacity: 0.96;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 430px;
  z-index: 100;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo {
  background-color: #545454;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 35px;
  padding: 7px 18px;
  position: relative;
  text-align: left;
  line-height: 22px;
  white-space: nowrap;
  will-change: background-color;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:not(:last-child)::after {
  border-bottom: 1px solid #fff;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 13px;
  opacity: 0.3;
  position: absolute;
  width: 94px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover {
  background-color: #e03f19;
  transition: background-color 0.2s ease;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover::after {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6 {
  position: relative;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6::after {
  background-size: 36px 17px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9f49bd4744c21221beb6dc688fa7a964.png) center no-repeat;
  content: '';
  display: block;
  height: 17px;
  position: absolute;
  right: 0;
  top: 12px;
  width: 36px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX {
  background: #f7f8fa;
  display: block;
  height: 100%;
  margin-left: 120px;
  padding: 5px 0;
  position: relative;
  text-align: left;
  width: 310px;
  opacity: 0.94;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX h5 {
  border-bottom: 1px solid #d9d9d9;
  color: #000;
  display: inline-block;
  font-size: 17px;
  line-height: 2;
  margin: 0 20px 10px;
  padding-bottom: 2px;
  width: 270px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a {
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  text-align: left;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a:hover {
  color: #fff;
  background: #e03f19;
}

#_2SRO2 ._26crt {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0 21px;
}

#_2SRO2 ._26crt ._g8UAG {
  -ms-flex-align: end;
      align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#_2SRO2 ._26crt ._1AtfL {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  display: inline-block;
  height: 39px;
  margin-right: 6px;
  margin-bottom: 1px;
  width: 118.3px;
}

#_2SRO2 ._26crt ._3lW78 {
  background-color: #e03f19;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  line-height: 25px;
  padding: 0 8px;
}

#_2SRO2 ._26crt ._3nBCF {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}

#_2SRO2 ._26crt ._swV7A {
  font: inherit;
}

#_2SRO2 ._26crt ._swV7A li {
  font: inherit;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

#_2SRO2 ._26crt ._swV7A a {
  color: #000;
  font-size: 13px;
  padding: 0 10px;
  display: block;
}

#_2SRO2 ._26crt ._swV7A a:hover {
  color: #545454;
}

#_2SRO2 ._26crt ._swV7A li + li > a {
  border-left: #fff solid 1px;
}

#_2SRO2 ._34URG {
  margin-left: 19px;
  position: relative;
}

#_2SRO2 ._34URG input {
  background-color: #eeeeee;
  border-radius: 14px;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-size: 13px;
  height: 26px;
  line-height: 2;
  padding: 0 12px;
  width: 220px;
}

#_2SRO2 ._34URG input::-webkit-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input:-ms-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input::placeholder {
  color: #000;
}

#_2SRO2 ._34URG button {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/4b3f19ffc01685780823d0f3dc731cac.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 12px;
}

#_2SRO2 ._vQw6a {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  height: 74px;
  z-index: 50;
  box-shadow: 0 1px 0 0 #c0c0c0;
}

#_2SRO2 ._vQw6a._1VC46 {
  height: 36px;
}

#_2SRO2 ._3Acd3 {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d8d8d8;
  height: 38px;
  min-width: 100%;
}

#_2SRO2 ._2aFMd {
  margin: 0 auto;
  white-space: nowrap;
  width: 100%;
}

#_2SRO2 ._2aFMd._3ulCb {
  background-color: #e0e0e0;
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: transform 0.15s ease-in-out;
  width: 100%;
  will-change: opacity;
  z-index: 50;
}

#_2SRO2 ._2aFMd._1VC46 {
  -ms-transform: translateY(36px);
      transform: translateY(36px);
}

#_2SRO2 ._2aFMd ._GG7q8 {
  background-color: #e0e0e0;
  border-bottom-color: transparent;
  margin: 0 auto;
  width: 1200px;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF:hover > a._37HAC {
  background-color: #545454;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a {
  color: #1e1e1e;
  will-change: background-color;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a {
  color: #545454;
  background-color: #f7f8fa;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a._1Z5Aq, #_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

#_2SRO2 ._2aFMd._3NyqV {
  opacity: 0;
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  z-index: -1;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF {
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  position: relative;
  vertical-align: top;
  will-change: backgroud-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a {
  color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC {
  background-color: #f7f8fa;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.15s ease-in-out;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC._1Z5Aq {
  border-color: transparent;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC::after {
  opacity: 0;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > ._1MKPP {
  display: block;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a {
  border-bottom: 2px solid transparent;
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  position: relative;
  vertical-align: top;
  will-change: border-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._1Z5Aq {
  border-color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._37HAC::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/934f74cbbeb0bf6adbd98a255e151589.svg) center no-repeat;
  content: '';
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP {
  background-color: #f7f8fa;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a {
  color: #545454;
  display: block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  text-align: left;
  white-space: nowrap;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  #_2SRO2 ._1Jtol {
    width: 1000px;
  }
  #_2SRO2 ._3wxEr {
    width: 1000px;
    margin: auto;
  }
  #_2SRO2 ._3wxEr._3ulCb {
    width: 1000px;
  }
  #_2SRO2 ._3wxEr:not(._GG7q8) > div > a,
  #_2SRO2 ._3wxEr:not(._GG7q8) > div > span {
    padding: 0 15px;
  }
  #_2SRO2 ._2aFMd ._GG7q8 {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  #_2SRO2 ._3wxEr._3ulCb {
    width: 100%;
    white-space: nowrap;
  }
}
#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}
._3Ny_k:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

._27f3x {
  display: block;
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 2;
}

._3Wta4 {
  display: block;
  height: 44px;
  width: 38px;
  display: block;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/90eaa49ba43fb3b6c4a3b1b19d417f26.svg) center no-repeat;
  background-size: 18px 18px;
}

._3KhXq {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  display: block;
  height: 30px;
  left: 44px;
  position: absolute;
  text-indent: -5000px;
  /* hide inner text */
  top: 6px;
  width: 70px;
}

._3_hO3 {
  background-color: #e03f19;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  height: 18px;
  left: 118px;
  line-height: 18px;
  padding: 0 4px;
  position: absolute;
  top: 18px;
}

._3vTaA {
  white-space: nowrap;
  position: absolute;
  right: 50px;
  top: 11px;
}

._3vTaA > a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  opacity: 0.7;
  vertical-align: middle;
  width: 50px;
  text-align: center;
  color: #fff;
  line-height: 18px;
  outline: 0;
}

._3vTaA > a:not(:last-child) {
  margin-right: 10px;
}

._3ZBZ7 {
  position: absolute;
  width: 270px;
  height: 46px;
  background: rgba(42, 54, 70, 0.85);
  color: #fff;
  line-height: 46px;
  font-size: 17px;
  right: 3px;
  top: 43px;
  border-radius: 3px;
  text-align: left;
  padding-left: 18px;
}

._3ZBZ7 ._3XvKH {
  display: block;
  position: absolute;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9b3297bb226cd6cb259d88b21dcc26c6.svg) center no-repeat;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 18px;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

._3ZBZ7 > i {
  display: block;
  width: 276px;
  height: 52px;
  position: absolute;
  z-index: -1;
  left: -3px;
  top: -3px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

._3ZBZ7::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(42, 54, 70, 0.85);
  position: absolute;
  right: 9px;
  top: -6px;
}

._3ZBZ7::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 12px;
  top: -10px;
  z-index: -1;
}

._2mXhz {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/fd88a16d338ce82fa23ff5dc7a7d5c50.svg) center no-repeat;
  background-size: 19px 19px;
}
._3Nksy {
  display: block;
  float: left;
  font-size: 17px;
  height: 49px;
  line-height: 49px;
  padding-left: 30px;
  position: relative;
  width: 50%;
}

._3Nksy:focus {
  background-color: #e0e0e0;
}

.use-large-font ._3Nksy {
  font-size: 22px;
}
._KvlCd {
  display: block;
  float: left;
  font-size: 17px;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/89652a575d82998b64dcd84dae09b702.jpg) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

._KvlCd:focus {
  background-color: #e0e0e0;
}
._wwdaL::after, ._1C1Ae::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

._2EEsr:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

._3RjfV,
._38glh {
  background: #fff;
  display: block;
  font-weight: 300;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  -ms-transform: translateX(-100%);
      transform: translateX(-100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100%;
  will-change: transform, opacity;
  z-index: 10;
}

._3RjfV header,
._38glh header {
  position: relative;
  height: 44px;
}

._3RjfV header nav,
._38glh header nav {
  height: 19px;
  position: absolute;
  left: 30px;
  top: 14px;
}

._3RjfV header nav > a,
._38glh header nav > a {
  display: inline-block;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 1;
}

._3RjfV header nav > a:last-child,
._38glh header nav > a:last-child {
  position: relative;
  margin-left: 15px;
}

._3RjfV header nav > a:last-child::before,
._38glh header nav > a:last-child::before {
  content: '';
  display: block;
  width: 1px;
  height: 12.5px;
  background: #d8d8d8;
  position: absolute;
  left: -15px;
  top: 2px;
}

._3RjfV h1,
._38glh h1 {
  line-height: 1.5;
}

._38glh {
  /* to slide out the CatBoard */
  -ms-transform: translateX(0);
      transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

._wwdaL {
  padding: 10px 0;
}

._wwdaL a {
  color: #1e1e1e;
}

._1C1Ae {
  padding: 0 0 0 30px;
  border-top: 1px solid #c0c0c0;
}

._1C1Ae a {
  color: #1e1e1e;
}

._23siC {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  top: 12px;
  display: inline-block;
  height: 22px;
  left: 30px;
  position: relative;
  text-indent: -5000px;
  /* hide inner text */
  width: 66.8px;
}

._-kDn3 {
  display: block;
  width: 44px;
  height: 44px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/9b3297bb226cd6cb259d88b21dcc26c6.svg) center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-board-subtitle {
  font-size: 14px;
  color: #f6fdff;
  line-height: 1.5;
  background: #545454;
  padding-left: 30px;
  margin-bottom: 0;
}
._1UwPA {
  width: 544px;
  height: 70px;
  background-color: #fff;
  border: solid 1px #d3d6db;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: "Open Sans", "Arial", "Microsoft Jhenghei", "Hiragino Sans GB", "Pingfang TC", "Lantinghei TC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  letter-spacing: 0.3px;
  color: #333;
}

._1UwPA ._35aIo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Open Sans", "Arial", "Microsoft Jhenghei", "Hiragino Sans GB", "Pingfang TC", "Lantinghei TC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  letter-spacing: 0.3px;
  color: #333;
}

._1UwPA ._28KgD {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

._1UwPA ._28KgD button {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  background-color: #9b9b9b;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

._1UwPA ._28KgD button:hover {
  background-color: #a41d1e;
}

@media only screen and (max-width: 640px), only screen and (max-width: 960px) and (orientation: landscape) {
  ._1UwPA {
    background-color: #f6f6f6;
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    height: 102px;
    font-size: 16px;
    font-weight: normal;
  }
  ._1UwPA ._35aIo {
    font-size: 16px;
    font-weight: normal;
  }
  ._1UwPA ._28KgD button {
    margin: 0 10px;
    width: 80px;
    height: 30px;
    background-color: #9b9b9b;
    font-size: 16px;
    color: #fff;
  }
  ._1UwPA ._28KgD button:hover {
    background-color: #a41d1e;
  }
}
@keyframes _3NB-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

._MXx3I {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
  animation: _3NB-2 0.2s linear forwards;
}

._29Mdb {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #fff;
}

._29Mdb ._1y-kA {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 13px;
  height: 13px;
  background: url(https://sfiles.cnyes.cool/fe-common/5dddd900dc/977cc3e656d39b232ae220ae00db9b9c.svg) center no-repeat;
  background-size: 13px 13px;
  cursor: pointer;
  z-index: 999;
}
