._3Git3 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 72px;
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-width: 0 1px 0 0;
  padding-left: 18px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-family: "Titillium Web", Arial, sans-serif;
}

._3Git3:after {
  content: '';
  width: calc(100% - 40px);
  left: 50%;
  bottom: 0;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  display: block;
  position: absolute;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-width: 0 0 1px;
}

._3Git3 h3 {
  position: relative;
  height: 42px;
  display: block;
  overflow: hidden;
  margin: 14px 24px 16px;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 23px;
}

._3Git3 h3::after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 20%;
  display: block;
  position: absolute;
  height: 21px;
  background: linear-gradient(to right, transparent, #fff 75%);
}

@supports (-webkit-line-clamp: 1) {
  ._3Git3 h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
  ._3Git3 h3::after {
    display: none;
  }
}

._3Git3 h3:hover {
  color: #e03f19;
  cursor: pointer;
}

._3Git3 span {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: #333;
  font-style: italic;
  font-size: 15px;
  line-height: 18px;
}

._3Git3 time {
  position: absolute;
  font-size: 14px;
  right: 24px;
  bottom: 13px;
  color: #828282;
  line-height: 20px;
}

._3Git3 ._2wQD0 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

._3Git3 ._2wQD0 > div {
  pointer-events: auto;
}
._10zvG div:last-child::after {
  border: 0;
}

._2MP8L {
  width: 315px;
}

._28S0D {
  width: 390px;
}
