@import '../styles/_base.scss';

.fundsyes-login-form {
  @extend %reset;
  @extend %pageStyle;

  main {
    .content-wrap {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  .promotion {
    position: relative;
    margin-top: -40px;
    margin-bottom: 40px;

    .banner {
      position: relative;
      display: block;
      width: 320px;
      height: 100px;
      margin: 0 auto;
      border: #404041 solid 1px;
      background: url('./images/320x100@2x.png') center / 320px 100px no-repeat;
    }
  }
}
