@import '../styles/_base.scss';

.fundsyes-old-driver-header {
  @extend %reset;
  background-color: #363c44;

  .header-content-wrapper {
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 0 24px;
  }

  .logo {
    display: block;
    width: 217px;
    height: $headerHeight;
    background: transparent url('../../../assets/icon-fundsyes-logo.png') center / auto $headerHeight no-repeat;
  }
}
